/* Home Page */

#welcome-row {
    text-align: center;
} 

#loader-row {
    margin-top: 30%;
    text-align: center;
}

/* Random Page*/

.random-card {
    margin: 5%;
}

#card-title-floating {
    text-shadow:
        0.05em 0 black,
        0 0.05em black,
        -0.05em 0 black,
        0 -0.05em black,
        -0.05em -0.05em black,
        -0.05em 0.05em black,
        0.05em -0.05em black,
        0.05em 0.05em black;
}

/* Category Page */

.category-btn {
    margin: 1%;
}

#category-container {
    margin-top: 5%;
}

#letter {
    margin: 0 1% 0 1%;
}

.category-row {
    padding: .5% 0 .5% 0;
}