#welcome-row {
    text-align: center;
} 

#welcome-img {
    padding: .1%;
}
#loader-row {
    margin-top: 30%;
    text-align: center;
}

.card-title {
    text-shadow:
        0.05em 0 black,
        0 0.05em black,
        -0.05em 0 black,
        0 -0.05em black,
        -0.05em -0.05em black,
        -0.05em 0.05em black,
        0.05em -0.05em black,
        0.05em 0.05em black;
}