<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quarantine Mixers</title>
    <link rel="stylesheet" href="../stylesheet.css">
</head>
<body>
    <div class='container'>
        
        <div class='nav-bar'>
            <a href="../index.html">Home</a>
            <a href="../views/categories.html">Categories</a>
            <a href="../views/random.html">Random</a>
        </div>
        
        <div class='main-categories'>Categories</div>
    </div>

    <script src='../scripts/categories.js'></script>
</body>
</html>