<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quarantine Mixers</title>
    <link rel="stylesheet" href="../stylesheet.css">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../css/materialize.min.css"  media="screen,projection"/>
</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <a href="./index.html" class="brand-logo">Quarantine Mixers</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="../index.html">Home</a></li>
        <li><a href="../views/categories.html">Categories</a></li>
        <li><a href="../views/random.html">Random</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="../index.html">Home</a></li>
    <li><a href="../views/categories.html">Categories</a></li>
    <li><a href="../views/random.html">Random</a></li>
  </ul>

    <div class='container'>

      <div id='loader-row' class="row">
        <div id='loader'class="preloader-wrapper big active">
          <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
      </div>

      <div class='main-random row'></div>
    </div>

    <script src='../node_modules/jquery/dist/jquery.js'></script>
    <script src='../scripts/random.js'></script>
    <script type="text/javascript" src="../scripts/materialize.min.js"></script>
    <script>
      $(document).ready(function(){
        $('.sidenav').sidenav();
      });
    </script>
</body>
</html>